* {
    padding: o;
    margin: 0;
    box-sizing: border-box;

}

.nav-item {
    transition: all 1s;

}

.nav-item:hover {
    background-color: rgb(181, 216, 247);
    font-size: 18px;
}

.img-fluid {
    border-style: outset;
    border-radius: 5%;

}

h1 {
    padding: 2% 2% 1% 2%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

section p {
    margin: 2%;
}

.principal {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.principal img {
    width: 60%;
    border-style: outset;
    border-radius: 5%;
    margin: 1%;
}

.galeria div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.galeria img {
    position: static;
    right: 5px;
    width: 30%;
    margin: 5px;
    border-style: outset;
    border-radius: 5%;
}

footer {
    display: flex;
}

footer div {
    display: flex;
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer div p {
    padding-top: 1rem;
    padding-left: 1%;
}

footer div a {
    padding-top: 0;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 30px;
    transition: all 1s;
}

footer div a:hover {
    background-color: rgb(181, 216, 247);
    font-size: 40px;
}

.footer {
    display: flex;
    width: 50%;
}

.footer li {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 1s;
}

.footer li:hover {
    background-color: rgb(181, 216, 247);
    font-size: 40px;
}

h2 {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 25%;
}

.contacto {

    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.contacto form {
    background-color: rgb(188, 224, 224);
    width: 100%;
    height: 100%;
    padding: 5%;
    
    border-radius: 20%;
    justify-content: center;
    align-content: space-between;
    gap: 2%;
}

form button {
    width: 300px;
    border-style: outset;
    border-radius: 10%;
    margin-top: 10px;
    transition: all 1s;
}

form button:hover {

    font-size: xx-large;
}

form div {

    padding: 2%;
    font-size: 15px;
}
.padding{
    padding-top: 8%;
}